@import url("https://fonts.googleapis.com/css2?family=Bytesized&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Jost", sans-serif;
}
.text-color {
  color: #318295;
}
.bg-color {
  background-color: aliceblue;
}
.icon-size {
  font-size: 30px;
}
.customFont {
  font-size: 20px;
}
.home-bg {
  background-image: url("../public/assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.nav-text {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 10px;
}
.home-height {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.detail-box {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 48px 0px;
  text-align: center;
  border-radius: 5px 30px 5px 5px;
  background: rgb(255, 255, 255);
  transition: 0.3s;
  padding: 25px 15px;
  margin: 5px;
}
.detail-box:hover {
  transform: translateY(-10px);
  background: rgb(49, 130, 149);
  color: white;
}
.detail-box:hover h5 {
  color: white;
}
.detail-box:hover i {
  color: white;
}
.detail-box:hover h3 {
  color: white;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img-h-w {
  height: 80vh;
  width: 80%;
}
.text-right {
  text-align: right;
}
.line-height {
  line-height: 28px;
}
.justify-center {
  justify-content: center;
}
.service-card {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  padding: 35px 20px;
  background: #fff;
  position: relative;
  border-radius: 30px 5px 5px 5px;
}
.service-card :hover {
  transform: translateY(-10px);
  background: rgb(49, 130, 149);
  color: white;
}

.doctor-card {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  padding: 35px 20px;
  background: rgb(49, 130, 149);
  position: relative;
  border-radius: 30px 5px 5px 5px;
  color: #fff;
}
.doctor-content {
  text-align: justify;
  justify-content: center;
}
.line {
  border: 2px solid #318295;
  width: 20%;
}
.icon-box {
  background-color: #318295;
  color: #fff;
  border-radius: 10px;
  width: 20%;
  padding: 15px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer {
  background-color: #318295;
}
.copyrights {
  background-color: #318295 !important;
  color: #fff;
}
.about {
  background-image: url("/public/assets/kg-hospital.jpeg");
  background-size: cover;
}
.contact {
  position: relative;
  top: -6rem;
}
.navbar {
  background: transparent !important;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}
.navigation {
  background-color: #fff;
  border: 1px solid white;
  border-radius: 15px;
}

.about-banner {
  height: 60vh; /* adjust height as needed */
  background-image: url("../public/assets/banner.png"); /* change to your banner image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-content {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* optional: a dark overlay for better text readability */
  padding: 20px 40px;
  border-radius: 10px;
}

.outline-button:hover {
  color: #318295 !important;
}

@media (max-width: 768px) {
  .navigation {
    margin: 10px;
  }
  .doctor-content {
    text-align: center;
  }
  .contact {
    top: 3px;
  }
}
